.note {
	font-size: 12px;
}

#player {
	/*margin-top: 50px;*/
	z-index: -10 !important;
	position: absolute;
	left: 300px;
	top: 150px;
}

#guide {
	position: absolute;
	left: 950px;
	top: 150px;
}

#guide p {
	font-family: 'Raleway', sans-serif !important;
	font-weight: 700 !important;
	font-size: 14px;
}

label span {
	font-family: 'Raleway', sans-serif !important;
	font-weight: 500 !important;
	font-size: 10px;
}

#control-btn {
	position: absolute;
	top: 550px;
	left: 350px;
	/*visibility: hidden;*/
}

#control-btn2 {
	position: absolute;
	top: 550px;
	left: 350px;
	visibility: hidden;
}

#control-btn2 span {
	font-family: 'Raleway', sans-serif !important;
	font-weight: 700 !important;
	font-size: 14px;
	margin-left: 15px;
}

#play {
	background-color:  #1e88e5 !important;
}

#pause {
	background-color:  #1e88e5 !important;
}

#quick {
	/*visibility: hidden;*/
}

#full {
	background-color:  #1e88e5 !important;
}

#protect {
	z-index: 0;
	position: absolute;
	left: 300px;
	top: 150px;
	width: 640px;
	height: 390px;
	background-color: transparent;
}

.brand-logo {
	margin-left: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #ffd54f !important;
}

#nav-mobile li {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

nav {
	background-color: #1e88e5 !important;
}

.slide {
	z-index: 10;
	position: absolute;
	left: 300px;
	top: 150px;
	width: 640px;
	height: 390px;
	/*background-color: #1e88e5;*/
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	visibility: hidden;
}

#quiz1 {
	background-image: url('../image/quiz1.png');
}

#a1 {
	position: absolute;
	left: 177px;
	top: 243px;
}

#b1 {
	position: absolute;
	left: 295px;
	top: 243px;
}

#c1 {
	position: absolute;
	left: 410px;
	top: 243px;

}

.option {
	color: #fff;
	background-color: #1e88e5;
	border-radius: 14px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.option:hover {
	background-color: #ffd54f;
	padding-right: 7px;
	padding-left: 7px;

}

#detail {
	position: absolute;
	left: 195px;
	top: 70px;
	text-align: center;
}

#move {
	position: absolute;
	left: 240px;
	top: 100px;
	text-align: center;
}

#end {
	position: absolute;
	left: 145px;
	top: 100px;
	text-align: center;
	color: #fff;
	background-color: #1e88e5;
	border-radius: 14px;
	padding-left: 5px;
	padding-right: 5px;
}

#slide1 {
	background-image: url('../image/slide1.png');
}

#slide2 {
	background-image: url('../image/slide1.png');
}

#quiz2 {
	background-image: url('../image/quiz2.png');
}

#a2 {
	position: absolute;
	left: 175px;
	top: 320px;
}

#b2 {
	position: absolute;
	left: 440px;
	top: 320px;
}

#quiz3 {
	background-image: url('../image/quiz3.png');
}

#a3 {
	position: absolute;
	left: 155px;
	top: 285px;
}

#b3 {
	position: absolute;
	left: 290px;
	top: 285px;
}

#c3 {
	position: absolute;
	left: 475px;
	top: 285px;

}

#quiz4 {
	background-image: url('../image/quiz4.png');
}

#a4 {
	position: absolute;
	left: 220px;
	top: 312px;
}

#b4 {
	position: absolute;
	left: 355px;
	top: 312px;
}

#quiz5 {
	background-image: url('../image/quiz5.png');
}

#a5 {
	position: absolute;
	left: 220px;
	top: 312px;
}

#b5 {
	position: absolute;
	left: 355px;
	top: 312px;
}
